
$primary-color: #16082f;  // Cor primária
$secondary-color: #777; // Cor secundária
$background-color: #f4f4f4; // Cor de fundo
$accent-color: #ff6600; // Cor de destaque


$base-font-size: 16px;
$font-family-sans: 'Helvetica Neue', Arial, sans-serif;
$font-family-mono: 'Courier New', monospace;
$heading-font-size: 2em;

$base-spacing: 10px;
$small-spacing: 5px;
$large-spacing: 20px;


$border-radius: 10px;
$border-color: #ddd;
